$primary-color: #285c80;
$secondary-color: #edeff0;
$tertiary-color: #fff;
$course-arrow: url("../img/course-arrow.png");


$colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    tertiary: $tertiary-color
);
